# Copyright (c) 2022 ESWIN Co,ltd. 
# SPDX-License-Identifier: Apache-2.0

# SoC and Board
CONFIG_SOC_SERIES_ESWIN_E330=y
CONFIG_SOC_ESWIN_E330=y
CONFIG_BOARD_ESWIN_E330=y

# TICK
CONFIG_RISCV_MACHINE_TIMER=y
CONFIG_SYS_CLOCK_TICKS_PER_SEC=100

# PLIC
CONFIG_PLIC=n

# CLIC
CONFIG_ESWIN_CLIC=y
CONFIG_CLIC_MAX_INT_CTRL_BITS=5
CONFIG_CLIC_INT_CTRL_BITS=3

CONFIG_XIP=n

# FPU
CONFIG_FLOAT_HARD=y

# Driver
CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_UART_NS16550=y
CONFIG_UART_CONSOLE=y
CONFIG_UART_NS16550_ACCESS_WORD_ONLY=y
CONFIG_UART_USE_RUNTIME_CONFIGURE=n
CONFIG_UART_INTERRUPT_DRIVEN=y
CONFIG_UART_NS16550_SYNOPSYS_DW_APB_UART=y

# PMP
CONFIG_RISCV_PMP=y
CONFIG_PMP_GRANULARITY=8
CONFIG_PMP_SLOTS=16

# OUTPUT
CONFIG_OUTPUT_DISASSEMBLY=y
