# Copyright (c) 2022 ESWIN Co,ltd. 
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_ESWIN
	bool

if SOC_FAMILY_ESWIN

config SOC_FAMILY
	string
	default "eswin"

source "soc/riscv/eswin/*/Kconfig.soc"

endif # SOC_FAMILY_ESWIN
